.report-type-list {
  .modifier {
    margin-right: 20px;
  }
  .just-tag-count {
    float: right;
  }
  .report-types-loader-block {
    text-align: center;
    display: block;
    // .loader-text {
    //   text-align: center;
    // }
  }
}
