<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3 class="title is-3">Edit Institute</h3>
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input class="input" type="text" placeholder="Edit institute name" ng-model="instituteName"/>
          </p>
          <p class="control">
            <a class="button is-primary" ng-click="editInstitute()">
              Edit
            </a>
          </p>
        </div>
        <p class="help is-danger" ng-show="instituteAlreadyExists">The institute already exists.</p>
      </div>
      <div class="column">

      </div>
    </div>
  </div>
</section>
