<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h3 class="title is-3">Add Tags <span class="tag is-light">Total: {{numTags}}</span></h3>

        <div class="notification is-info">
          The file needs to be .csv with one column consisting of your tags. The column header should be 'tag'.
        </div>

        <form ng-submit="createTags()">

          <div class="file has-name">
            <label class="file-label">
              <file-field class="button file-input" type="file" ng-model="tagFile"></file-field>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose tag file…
                </span>
              </span>
              <span class="file-name" ng-show="tagFile">
                {{tagFile.name}}
              </span>
            </label>
          </div>

          <br>

          <div class="field">
            <div class="control">
              <button type="submit" class="button is-link">{{isProcessing && 'Processing...' || 'Submit' }}</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
