<section class="section">
  <div class="container">
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
      <ul>
        <li><a href="#">{{instituteName}}</a></li>
        <li><a href="/#!/institutes/{{instituteId}}/lists">Lists</a></li>
        <li class="is-active"><a href="#" aria-current="page">Map</a></li>
      </ul>
    </nav>
    <div class="columns">
      <div class="column report-type-list">

        <nav class="panel">
          <p class="panel-heading">
            Report Types <span class="tag is-light">{{numReportTypeResults}}&nbsp;results</span>
          </p>
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input is-small" type="text" placeholder="search" ng-model="reportTypeQuery" ng-keyup="searchReportType($event)">
              <span class="icon is-small is-left">
                <i class="fa fa-search"></i>
              </span>
            </p>
          </div>
          <div class="panel-block">
            <input type="checkbox" ng-model="isAllSelected" ng-click="toggleAllReportTypes()">
            <span class="modifier">Select All</span>
            <!-- <input type="checkbox" ng-model="isUntaggedOnlySelected" ng-click="toggleUntaggedOnly()">
            <span class="modifier">Untagged Only</span> -->
            <input type="checkbox" ng-model="isHideTagsSelected" ng-click="toggleHideTags()">
            <span class="modifier">Hide Tags</span>
          </div>
          <div id="report-type-list" in-view-container>
            <div class="panel-block report_type-panel-block" data-id="{{report_type.id}}" ng-repeat="report_type in report_types">
              <div class="report_type-info" ng-class="{'hide-tags': isHideTagsSelected}">
                <input type="checkbox" ng-model="report_type.selected" ng-click="selectReportType(report_type)" ng-change="reportTypeToggled()">
                <span>{{report_type.name}}</span>
                <span class="tag is-danger just-tag-count" ng-show="isHideTagsSelected && report_type.tags.length > 0">{{report_type.tags.length}}</span>
              </div>
              <div class="field is-grouped is-grouped-multiline tag-list" ng-if="!isHideTagsSelected">
                <div class="control" data-id="{{tag.id}}" ng-repeat="tag in report_type.tags">
                  <div class="tags has-addons" >
                    <span class="tag">{{tag.documentSubjectMatterDomain}}</span>
                    <span class="tag is-danger cross" ng-click="deleteTag(report_type.id,tag.id)"><i class="fa fa-times"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-block report-types-loader-block" in-view="loaderInView($index,$inview,$inviewInfo)" in-view-options="{ generateParts: true }" ng-if="showLoader">
              <div class="loader-text"><i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;<span>Loading...</span></div>
            </div>
          </div>
        </nav>

      </div>
      <div class="column">

        <nav id="tags" class="panel">
          <p class="panel-heading">
            Tags <span class="tag is-light">{{numTagResults}}&nbsp;results</span>
          </p>
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input is-small" type="text" placeholder="search tags" ng-model="tagQuery" ng-keyup="searchTag($event)">
              <span class="icon is-small is-left">
                <i class="fa fa-search"></i>
              </span>
            </p>
          </div>
          <div id="tag-list">
            <div class="panel-block" data-id="{{tag.id}}" ng-repeat="tag in tags">
              <a class="button is-info is-outlined is-small" ng-click="addTag(tag)">Add Tag</a>&nbsp;&nbsp;
              <a class="button is-danger is-outlined is-small" ng-click="bulkRemoveTag(tag)">Remove Tag</a>&nbsp;&nbsp;
              <span>{{tag.documentSubjectMatterDomain}}</span>
            </div>
          </div>
        </nav>

      </div>
    </div>
  </div>
</section>
