<section class="section">
  <div class="container">
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
      <ul>
        <li><a>{{instituteName}}</a></li>
        <li><a href="/#!/institutes/{{instituteId}}/lists">Lists</a></li>
        <li class="is-active"><a href="#" aria-current="page">Create</a></li>
      </ul>
    </nav>

    <div class="columns">
      <div class="column is-half">

        <h3 class="title is-3">Create List</h3>

        <form ng-submit="createList()">

          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="List Name" ng-model="list.name">
            </div>
          </div>

          <div class="notification is-info">
            The file needs to be .csv with one column consisting of your report type names. The column header should be 'Report Type Name'.
          </div>

          <div class="file has-name">
            <label class="file-label">
              <file-field class="button file-input" type="file" ng-model="list.reportTypes"></file-field>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose report type file…
                </span>
              </span>
              <span class="file-name" ng-show="list.reportTypes">
                {{list.reportTypes.name}}
              </span>
            </label>
          </div>

          <br>

          <div class="field">
            <div class="control">
              <button type="submit" class="button is-link">{{isProcessing && 'Processing...' || 'Submit' }}</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
