<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <nav class="panel">
          <p class="panel-heading">
            Login
          </p>
          <div class="panel-block" style="display:block">
            <div class="notification is-warning login-warning" ng-show="message">
              {{message}}
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email" ng-model="loginForm.credentials.email">
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fa fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password" ng-model="loginForm.credentials.password">
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button class="button is-link is-large is-outlined is-fullwidth" ng-class="loginForm.loading ? 'is-loading' : ''" ng-click="submitLoginForm()">
                  Login
                </button>
              </p>
            </div>
            <div class="notification is-danger" ng-show="loginForm.errors">
              {{loginForm.errors}}
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
