<!-- NAV -->
<nav id="navbar" class="navbar is-fixed-top " style="transform: translateY(0px);">
  <div id="specialShadow" class="bd-special-shadow" style="opacity: 1; transform: scaleY(1);"></div>
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span>Report Type Mapper</span>
      </a>
      <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navMenuDocumentation" class="navbar-menu">

      <div class="navbar-end">
        <a class="navbar-item">
          <span class="tag is-danger is-medium" ng-show="userProfile.$hasRole('ROLE_ADMIN')">Admin</span>
        </a>
        <a class="navbar-item" href="/#!/institutes" ng-show="userProfile.$hasRole('ROLE_ADMIN')">
          Institutes
        </a>
        <a class="navbar-item" href="/#!/tags" ng-show="userProfile.$hasRole('ROLE_ADMIN')">
          Tags
        </a>
        <div class="navbar-item has-dropdown is-hoverable" ng-show="userProfile.$isAuthenticated()">
          <a class="navbar-link" href="/documentation/overview/start/">
            Settings
          </a>
          <div class="navbar-dropdown ">
            <a class="navbar-item " href="/documentation/overview/start/">
              API Token
            </a>
            <a class="navbar-item " href="/#!/logout">
              Logout
            </a>
          </div>
        </div>
        <div class="navbar-item" ng-hide="userProfile.$isAuthenticated()">
          <div class="field is-grouped">
            <p class="control">
              <a class=" is-link is-outlined button" href="#!/register">
                <span class="icon">
                  <i class="fa fa-user-plus"></i>
                </span>
                <span>
                  Register
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="#!/login">
                <span class="icon">
                  <i class="fa fa-sign-in"></i>
                </span>
                <span>Login</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3 class="title is-3">Add Tags <span class="tag is-light">Total: {{numTags}}</span></h3>
        <!-- <div class="field is-grouped">
          <p class="control is-expanded">
            <input class="input" type="text" placeholder="Add a tag" ng-model="tagName"/>
          </p>
          <p class="control">
            <a class="button is-primary" ng-click="createTag()">
              Create
            </a>
          </p>
        </div>
        <p class="help is-danger" ng-show="tagAlreadyExists">The tag already exists.</p> -->

        <form ng-submit="createTags()">
          <div class="field">
            <label class="label">Upload LOINC Ontology Document</label>
            <!-- <div class="control">
              <div class="file has-name">
                <label class="file-label">
                  <input class="file-input" type="file" fileread="list.reportTypes">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                </label>
              </div>
            </div> -->
            <!-- <p class="help">Select a csv file to upload report types</p> -->
            <!-- <div class="control"> -->
              <file-field class="button" ng-model="tagFile">Select file</file-field>
            <!-- </div> -->
          </div>


          <div class="field">
            <div class="control">
              <input type="submit" class="button is-link">
            </div>
          </div>

        </form>

      </div>
      <div class="column">

      </div>
    </div>
  </div>
</section>
