<section class="section">
  <div class="container">
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
      <ul>
        <li><a>{{instituteName}}</a></li>
        <li class="is-active"><a href="/#!/institutes/{{instituteId}}/lists">Lists</a></li>
      </ul>
    </nav>
    <table class="table is-bordered is-fullwidth is-narrow is-striped" ng-show="lists.length > 0">
      <thead>
        <tr>
          <th>Name</th>
          <th># of Report Types</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="list in lists">
          <td>{{list.name}}</td>
          <td>{{list.numOfReportTypes}}</td>
          <td>
            <a class="button is-small is-info is-outlined" href="/#!/institutes/{{list.institute}}/lists/{{list.id}}/map">Map</a>
            <a class="button is-small is-info is-outlined" href="/#!/institutes/{{list.institute}}/lists/{{list.id}}/edit">Edit</a>
            <a class="button is-small is-info is-outlined" href="/#!/institutes/{{list.institute}}/lists/{{list.id}}/delete">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="notification is-warning" ng-show="lists.length == 0">
      The are currently no lists to show. <strong>Try creating a list below.</strong>
    </div>
    <a class="button is-success" href="/#!/institutes/{{instituteId}}/lists/create">Create List</a>
  </div>
</section>
