<section class="section">
  <div class="container">
    <h3 class="title is-3">Institutes</h3>
    <table class="table is-bordered is-fullwidth is-narrow is-striped" ng-show="institutes.length > 0">
      <thead>
        <tr>
          <th>Name</th>
          <th># of Lists</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="institute in institutes">
          <td>{{institute.name}}</td>
          <td>{{institute.lists.length}}</td>
          <td>
            <a class="button is-small is-info is-outlined" href="/#!/institutes/{{institute.id}}/lists">View Lists</a>
            <a class="button is-small is-info is-outlined" href="/#!/institutes/{{institute.id}}/edit">Edit</a>
            <a class="button is-small is-info is-outlined" href="/#!/institutes/{{institute.id}}/delete">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="notification is-warning" ng-show="institutes.length == 0">
      The are currently no institutes to show. <strong>Try creating an institute below.</strong> The institute will then become available
      to choose during user registration.
    </div>
    <a class="button is-success" href="/#!/institutes/create">Create Institute</a>
  </div>
</section>
