<!-- NAV -->
<nav id="navbar" class="navbar is-fixed-top " style="transform: translateY(0px);">
  <div id="specialShadow" class="bd-special-shadow" style="opacity: 1; transform: scaleY(1);"></div>
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span>Report Type Mapper</span>
      </a>
      <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navMenuDocumentation" class="navbar-menu">

      <div class="navbar-end">
        <a class="navbar-item">
          <span class="tag is-danger is-medium" ng-show="userProfile.$hasRole('ROLE_ADMIN')">Admin</span>
        </a>
        <a class="navbar-item" href="/#!/institutes" ng-show="userProfile.$hasRole('ROLE_ADMIN')">
          Institutes
        </a>
        <a class="navbar-item" href="/#!/tags" ng-show="userProfile.$hasRole('ROLE_ADMIN')">
          Tags
        </a>
        <div class="navbar-item has-dropdown is-hoverable" ng-show="userProfile.$isAuthenticated()">
          <a class="navbar-link" href="/documentation/overview/start/">
            Settings
          </a>
          <div class="navbar-dropdown ">
            <a class="navbar-item " href="/documentation/overview/start/">
              API Token
            </a>
            <a class="navbar-item " href="/#!/logout">
              Logout
            </a>
          </div>
        </div>
        <div class="navbar-item" ng-hide="userProfile.$isAuthenticated()">
          <div class="field is-grouped">
            <p class="control">
              <a class=" is-link is-outlined button" href="#!/register">
                <span class="icon">
                  <i class="fa fa-user-plus"></i>
                </span>
                <span>
                  Register
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="#!/login">
                <span class="icon">
                  <i class="fa fa-sign-in"></i>
                </span>
                <span>Login</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="section">
  <div class="container">
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
      <ul>
        <li><a href="#">{{userProfile.institute.name}}</a></li>
        <li><a href="/#!/institutes/{{userProfile.institute.id}}/lists">Lists</a></li>
        <li class="is-active"><a href="#" aria-current="page">Map</a></li>
      </ul>
    </nav>
    <div class="columns">
      <div class="column">

        <nav id="" class="panel">
          <p class="panel-heading">
            Report Types <span class="tag is-light">{{numResults}}&nbsp;results</span>
          </p>
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input is-small" type="text" placeholder="search" ng-model="query" ng-keyup="search($event)">
              <span class="icon is-small is-left">
                <i class="fa fa-search"></i>
              </span>
            </p>
          </div>
          <!-- <p class="panel-tabs">
            <a class="is-active">all</a>
            <a>public</a>
            <a>private</a>
            <a>sources</a>
            <a>forks</a>
          </p> -->
          <div id="report-type-list">
            <div class="panel-block report_type-panel-block" data-id="{{report_type.id}}" ng-repeat="report_type in report_types">
              <div class="report_type-info">
                <input type="checkbox" ng-model="report_type.selected" ng-click="selectReportType(report_type)">
                <span>{{report_type.name}}</span>
              </div>
              <div class="field is-grouped is-grouped-multiline tag-list">
                <div class="control" data-id="{{tag.id}}" ng-repeat="tag in report_type.tags">
                  <div class="tags has-addons">
                    <span class="tag">{{tag.name}}</span>
                    <span class="tag is-danger cross" ng-click="deleteTag(report_type.id,tag.id)"><i class="fa fa-times"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-block load-next-page" ng-show="loadMoreActive">
              Load More
            </div>
          </div>

          <!-- <label class="panel-block">
            <input type="checkbox">
            remember me
          </label> -->
          <!-- <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
              reset all filters
            </button>
          </div> -->
        </nav>

      </div>
      <div class="column">

        <nav id="tags" class="panel">
          <p class="panel-heading">
            Tags
          </p>
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input is-small" type="text" placeholder="search">
              <span class="icon is-small is-left">
                <i class="fa fa-search"></i>
              </span>
            </p>
          </div>
          <!-- <p class="panel-tabs">
            <a class="is-active">all</a>
            <a>public</a>
            <a>private</a>
            <a>sources</a>
            <a>forks</a>
          </p> -->
          <div class="panel-block" data-id="{{tag.id}}" ng-repeat="tag in tags">
            <a class="button is-info is-outlined is-small" ng-click="addTag(tag)">Add Tag</a>&nbsp;&nbsp;
            <span>{{tag.name}}</span>
          </div>

          <!-- <label class="panel-block">
            <input type="checkbox">
            remember me
          </label> -->
          <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
              reset all filters
            </button>
          </div>
        </nav>

      </div>
    </div>
  </div>
</section>
